*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #FFBF00;
    width: 100%;
    height: 100px;
}

#logo{
    background-color: #FFBF00;
    height: 90px;
    padding: 5px;
    width: auto;
    float: left;
}


.navbtn
{
    height: 50px;
    width: 15%;
    border: 5px solid black;
    float: right;
    text-align: center;
    padding-top: 40px;
}

.navbtn:hover{
    background-color: blue;
}


footer
{
    width: 70%;
    height: 250px;
    background-color: #FFBF00;
    margin-left:15%;
    
}


#adleft, #adright
{
    width:13%;
    margin: 0.5%;
    height: auto;
    border-color:black;
    border-style: solid;
    border-width: 0.5%;
}

#adright
{
float: right;

}

#gamebar{
    background-color: sandybrown;
    text-align: center;
    width: 90%;
    height: 20px;
    margin: 5%;
}


/* Game previews */
.prename, .prescore, .preimg, .presynopsis{
    border: solid black 2.5px;
}

.preview{
    margin: 10px;
    width: 400px;
    height: 230px;
}

.preimg{
    height: 225px;
    width: 150px;
}

.prescore{
    background-color: seagreen;
    float: right;
    height: 50px;
    width: 50px;
}

.prename{
    background-color: slateblue;
    float: right;
    height: 50px;
    width: 185px;
    font-size: 150%;
    text-align: center;
}

.presynopsis{
    background-color: tomato;
    width: 240px;
    height: 171px;
    margin-left: 155px;
    margin-top: -180px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFBF00;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid black;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: black;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  
  


.pretitle{
    padding-top: 10px;
}
#footer1{
    width: 100%;
    height: 100px;
    background-color: red;
}
#footer2{
    width: 100%;
    height: 80px;
    background-color: purple;
}

.icons{
    width:10%;
    height: 10%;
    background-color: blues;
}