*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #FFBF00;
    width: 100%;
    height: 100px;
}

#logo{
    background-color: #FFBF00;
    height: 90px;
    padding: 5px;
    width: auto;
    float: left;
}

.navbtn{
    height: 50px;
    width: 15%;
    border: 5px solid black;
    float: right;
    text-align: center;
    padding-top: 40px;
    font-size: 200%;
}

.navbtn:hover{
    background-color: blue;
}
#adleft{
    float: left;
}
#adleft, #adright
{
    width:13%;
    margin: 0.5%;
    height: auto;
    border-color:black;
    border-style: solid;
    border-width: 0.5%;
}

#adright
{
float: right;

}

#gamebar{
    background-color: sandybrown;
    border: black solid 2.5px;
    text-align: center;
    width: 70%;
    height: 20px;
    margin: 10px 15% 10px 15%;
}

/* Game previews */
.prename, .prescore, .preimg, .presynopsis{
    border: solid black 2.5px;
}

.preview{
    margin: 10px;
    width: 400px;
    height: 230px;
    float:left;
}

.preimg{
    height: 225px;
    width: 150px;
    
}

.prescore{
    background-color: seagreen;
    float: right;
    height: 50px;
    width: 50px;
    font-size: 250%;
    text-align: center;
}

.prename{
    background-color: black;
    float: right;
    height: 50px;
    width: 185px;
    font-size: 150%;
    text-align: center;
    color:white;
}

.presynopsis{
    background-color: #FFBF00;
    width: 240px;
    height: 171px;
    margin-left: 155px;
    margin-top: -180px;
}

.pretitle{
    padding-top: 10px;
}

.loader-wrapper { /*Loading screen*/

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFBF00;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid black;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: black;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

#mediarow{
    background-color: #FFBF00;
    padding-top: 75px;  
}
.mediaicons{
    width: 100px;
    height: 100px;
    
}

#kenjifooter{
    background-color:#FFBF00;
    width: 70%;
    height: 250px;
    margin-left:15%;
    float:left;
}

.center{
    margin: auto;
    width: 310px;
    padding: 10px;
}



/* slideshow */

#slideshow{
    width: 70%;
    height: 50vh;
    margin: 7.5px 0 0 15%;
    background-color: steelblue;
    border: black solid 2.5px;
}

#featured{
    height: 100%;
    width: 80%;
    float: left;
}

#featuredimg{
    background-color: brown;
    width: 100%;
    height: 100%;
}

#featuredtext{

}

.featbtn{
    height: 100%;
    width: 10%;
    background-color: blue;
    float: left;
}

.featbtn:hover{
    background-color: burlywood;
}

#leftbtn{

}

#rightbtn{

}

